<div class='col-6'>
  <a href='/_assets/img/example/{{image}}' class='popup-link'>
    <img
      data-src='/_assets/img/example/{{image}}'
      alt=''
      class='img-fluid lazyload'
    />
  </a>
</div>