<footer>
  <div class='container'>
    <div class='row d-flex align-items-center'>
      <div class='col-3'>
        <span>
          Footer
        </span>
      </div>
      <div class="col text-right h3">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-twitter-square"></i>
      </div>
    </div>
  </div>
</footer>
<script src="/assets/main.js"></script>
</body>
</html>