---
layout: master
tags: nav
label: "Home"
date: 2020-01-01
---
<div class='container'>
  <div class='row mb-4'>
    <div class='col'>
      <h1 class='h1'>
        Index
      </h1>
      <p>
        Welcome to 11ty starter template.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <p class='mb-2'>
        Here are some useful links:
      </p>
      <ul>
        <li class='mb-1'>
          <a href='https://www.11ty.dev/docs/'>
            11ty documentation
          </a>
        </li>
        <li class='mb-1'>
          <a
            href='https://getbootstrap.com/docs/4.5/getting-started/introduction/'
          >
            Bootstrap documentation
          </a>
        </li>
        <li class='mb-1'>
          <a href='https://fontawesome.com/icons?d=gallery&q=tw'>
            Font Awesome icons
          </a>
        </li>
        <li class='mb-1'>
          <a href='https://flexbox.malven.co/'>
            Flexbox cheatsheet
          </a>
        </li>
        <li class='mb-1'>
          <a href='https://sass-lang.com/documentation/syntax'>
            Sass documentation
          </a>
        </li>
        <li class='mb-1'>
          <a href='https://api.jquery.com/'>
            jQuery API
          </a>
        </li>
        <li class='mb-1'>
          <a href='https://handlebarsjs.com/guide/'>
            Handlebars documentation
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>