---
layout: master
tags: nav
label: "Parallax"
date: 2020-05-01
---
<div class='container parallax'>
  <div class='row'>
    <div class='col mb-4'>
      <h1 class='h1'>
        Parallax
      </h1>
      <p>
        <a href='https://simpleparallax.com/#settings'>
          simpleParallax settings
        </a>
      </p>
      <p>
        <a href='https://www.npmjs.com/package/simple-parallax-js'>
          NPM package
        </a>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <img
        data-src='/_assets/img/example/parallax.jpg'
        alt=''
        class='parallax-image img-fluid lazyload'
      />
    </div>
  </div>
</div>